* {
    margin: 0;
}

body {
    background-color: rgb(8, 8, 41);
}

#navbar {
    width: 100%;
    height: 65px;
    background-color: rgb(56, 56, 90);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo a {
    text-decoration: none;
    color: rgb(219, 210, 210);
    font-size: 40px;
}

#logo a:hover {
    color: rgb(102, 191, 250);
    transition: all 0.3s ease;
    text-shadow: 0 0 6px;
}

input[type=text] {
    width: 650px;
    height: 40px;
    background-color: rgb(22, 22, 48);
    border-radius: 8px;
    transform: scale(1.05);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    outline: none;
    border: none;
    color: rgb(99, 190, 250);
}

input[type=text]::placeholder {
    color: rgb(52, 179, 253);
}

input[type=text]:focus {
    border-color: rgb(95, 181, 252);
    transition: all 0.3s ease;
    box-shadow: 0 0 8px;
}

.link {
    color: rgb(221, 215, 215);
    text-decoration: none;
    font-size: 18px;
}


#container {
    width: 98%;
    height: 500px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.cards {
    padding: 10px;
    padding-top: 50px;
    height: 590px;
    width: 500px;
    background-color: rgb(102, 95, 131);
    border-radius: 30px;
    margin-top: 70px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
}

.cards a{
    font-size: 40px;
    font-weight: bold;
    color: rgb(48, 230, 103);
    text-decoration: none;
}

.cards p{
    font-size: 25px;
    font-weight: normal;
    color: rgb(48, 230, 103);
    text-decoration: none;

}

.cards p {
    margin-top: 40px;
    color: rgb(199, 192, 192);
    font-weight: normal;
    font-size: 28px;

}

.cards:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
    color: rgb(89, 172, 250);
    box-shadow: 0 12px 18px;
}

hr {
    margin-top: 30px;
    width: 95%;
    color: rgb(216, 215, 215);
}

.link:hover {
    color: rgb(103, 192, 252);
    transition: all 0.3s ease;
}

.link:focus {
    color: rgb(69, 243, 176);
}